<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Registration Confirmation</title>
</head>
<body style="background-color: #f5f5f5; margin: 0; padding: 0">
<table
        class="main"
        align="center"
        width="600px"
        style="
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
>
  <tbody>
  <tr>
    <td>
      <table
              class="content"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="padding: 20px"
      >
        <tr>
          <td align="center">
            <h1
                    style="
                      font-size: 24px;
                      font-family: Arial, sans-serif;
                      color: MediumSeaGreen;
                      margin: 0;
                    "
            >
              Oh! Ride hailing App
            </h1>
            <br />
            <p
                    style="
                      font-size: 24px;
                      font-family: Arial, sans-serif;
                      color: MediumSeaGreen;
                      margin: 0;
                    "
            >
              You are successfully registered to the event
            </p>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding-top: 20px">
            <p
                    style="
                      font-size: 16px;
                      font-family: Arial, sans-serif;
                      color: #666666;
                      margin: 0;
                    "
            >
              Dear [[${name}]],
            </p>
            <p
                    style="
                      font-size: 16px;
                      font-family: Arial, sans-serif;
                      color: #666666;
                      margin: 10px 0;
                    "
            >
              [[${greet}]]
            </p>
            <ul
                    style="
                      font-size: 16px;
                      font-family: Arial, sans-serif;
                      color: #666666;
                      margin: 10px 0;
                      padding-left: 20px;
                      list-style-type: none;
                    "
            >
              <li>
                <strong>Number of Members:</strong> [[${noOfPeople}]]
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding-top: 20px">
            <!-- Provide some text for the QR code -->
            <div id="qrcode"></div>
          </td>
        </tr>
      </table>
      <table
              class="footer"
              border="0"
              width="100%"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                background-color: #f5f5f5;
                border-top: 1px solid #e0e0e0;
                padding: 20px;
              "
      >
        <tr>
          <td align="center">
            <p
                    style="
                      font-size: 14px;
                      font-family: Arial, sans-serif;
                      color: #666666;
                      margin: 0;
                    "
            >
              &copy; 2024 Oxhorn (Pvt) Ltd All rights reserved.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>