<body style="background-color:#fff; margin:0;padding:0;">
<table class="main" align="center" width="600px" style="background-color: #ffffff;">
  <tbody>
  <tr>
    <td>
      <table class="illustration" align="center" border="0" cellpadding="0" cellspacing="0"
             role="presentation">
        <tr>
        </tr>
      </table>
      <table class="content" width="500px" align="center" border="0" cellpadding="0" cellspacing="0"
             role="presentation">
        <tr>
          <td align="center">
            <p><span
                style="font-size:18px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;font-weight: bold;">Password Reset Successfully</span>
            </p>
          </td>
        </tr>
      </table>
      <table class="footer" border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tr height="30px"></tr>
        <tr>
          <td height="80px" width="600px" bgcolor="#030621" align="center">
            <p style="font-size:14px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif; color: #ffffff;">
              © 2023 NextGen Innovations. All rights reserved.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>